@media screen and (max-width:375px) {
  .container {
    padding: 0 1.5rem;
  }

  .my-2 {
    margin: 1rem 0;
  }

  //?Navbar Section
  nav {
    .container {
      background-color: $White;
      position: relative;
      z-index: 99;
      justify-content: space-between;
    }

    .logo,
    .navbar {
      display: flex;
      align-items: center;
    }

    .navbar {
      display: none;

      .navbarList {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          padding: 0 1rem;

          a {
            color: $Grayish-Blue;
          }

          &:hover {
            a::after {
              content: "";
              display: block;
              position: relative;
              bottom: -35px;
              width: 100%;
              height: 4px;
              background: $Lime-Green;
            }
          }
        }
      }
    }

    .hamburgerMenu {
      display: block;
      background: url("./images/icon-hamburger.svg") no-repeat;
      width: 24px;
    }

    .ctaButton {
      display: none;
    }
  }

  .easybankHero {

    .container {
      height: auto;
      flex-direction: column;

      .heroContent {
        order: 2;
        width: 100%;
        text-align: center;
        margin-bottom: 5rem;

        h1 {
          font-size: 40px;
        }

        p {
          font-size: 15px;
        }
      }

      .heroMockups {
        width: 100%;

        .bgIntro {
          background: url("./images/bg-intro-mobile.svg") no-repeat;
          width: 375px;
          height: 423px;
          transform: none;
          margin: 0 -1.5rem;

          img {
            display: none;
          }
        }

        .mockups {
          display: flex;
          justify-self: center;
          height: auto;
          margin-top: -4rem;
          transform: none;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .whyEasyBank {
    padding: 4rem 0;

    .container {
      text-align: center;

      h2 {
        font-size: 32px;
      }

      >p {
        font-size: 15px;
        width: 100%;
        line-height: 2;
      }

      .features {
        flex-direction: column;

        .feature {

          h4 {
            font-size: 18px;
            margin: 1.2rem 0;
          }

          p {
            width: 100%;
            font-size: 15px;
            line-height: 2;
          }
        }
      }
    }
  }

  .latestArticles {
    padding: 6rem 0;

    .container {

      h2 {
        font-size: 32px;
        text-align: center;
      }

      .articles {
        margin-top: 1.5rem;
        flex-direction: column;

        .article {
          width: 100%;
          margin-top: 1.5rem;

          .articleContent {

            h4 {
              font-size: 17px;
            }

            p {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

.footer {

  .container {
    flex-direction: column;
    text-align: center;

    .logoSocials {
      .logo {
        margin-bottom: 2rem;
      }

      .socials {
        margin-bottom: 2rem;

        svg {
          margin-left: 1rem;
        }
      }
    }

    .ctaButton {
      text-align: center;
      margin-top: 2rem;
    }
  }
}