@media screen and (max-width:375px) {
  .container {
    padding: 0 1.5rem;
  }

  .my-2 {
    margin: 1rem 0;
  }

  //?Navbar Section
  nav {
    .container {
      background-color: $White;
      position: relative;
      z-index: 99;
      justify-content: space-between;
    }

    .logo,
    .navbar {
      display: flex;
      align-items: center;
    }

    .navbar {
      display: none;

      .navbarList {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          padding: 0 1rem;

          a {
            color: $Grayish-Blue;
          }

          &:hover {
            a::after {
              content: "";
              display: block;
              position: relative;
              bottom: -35px;
              width: 100%;
              height: 4px;
              background: $Lime-Green;
            }
          }
        }
      }
    }

    .hamburgerMenu {
      display: block;
      background: url("./images/icon-hamburger.svg") no-repeat;
      width: 24px;
    }

    .ctaButton {
      display: none;
    }
  }

  .easybankHero {
    background-color: $Very-Light-Gray;

    .container {
      height: auto;
      flex-direction: column;

      .heroContent {
        order: 2;
        width: 100%;
        align-self: center;
        text-align: center;
        margin-bottom: 5rem;

        h1 {
          font-size: 40px;
          font-family: 'Public Sans', sans-serif;
          font-weight: $font-weight-300;
          color: $Dark-Blue;
        }

        p {
          font-size: 15px;
          margin: 2rem 0;
          color: $Grayish-Blue;
        }
      }

      .heroMockups {
        width: 100%;

        .bgIntro {
          background: url("./images/bg-intro-mobile.svg") no-repeat;
          width: 375px;
          height: 423px;
          transform: none;
          margin: 0 -1.5rem;

          img {
            display: none;
          }
        }

        .mockups {
          display: flex;
          justify-self: center;
          height: auto;
          margin-top: -34.5rem;
          transform: none;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .whyEasyBank {
    padding: 4rem 0;

    .container {
      flex-direction: column;
      text-align: center;

      h2 {
        font-size: 32px;
      }

      >p {
        font-size: 15px;
        width: 100%;
        line-height: 2;
      }

      .features {
        flex-direction: column;

        .feature {
          img {
            margin-top: 2rem;
          }

          h4 {
            font-size: 18px;
            font-family: 'Public Sans', sans-serif;
            font-weight: $font-weight-300;
            color: $Dark-Blue;
            margin: 1.2rem 0;
          }

          p {
            color: $Grayish-Blue;
            width: 100%;
            font-size: 15px;
            line-height: 2;
          }
        }
      }
    }
  }

  .latestArticles {
    background-color: $Very-Light-Gray;
    padding: 6rem 0;

    .container {
      flex-direction: column;

      h2 {
        font-size: 32px;
        font-family: 'Public Sans', sans-serif;
        font-weight: $font-weight-300;
        color: $Dark-Blue;
        text-align: center;
      }

      .articles {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
        flex-direction: column;

        .article {
          display: flex;
          flex-direction: column;
          background-color: $White;
          border-radius: 7px;
          width: 100%;
          margin-top: 1.5rem;

          img {
            width: 100%;
            border-radius: 7px 7px 0 0;
            height: 50%;
          }

          .articleContent {
            padding: 1.7rem;

            h6,
            p {
              color: $Grayish-Blue;
            }

            h6 {
              margin-bottom: 0.5rem;
            }

            h4 {
              color: $Dark-Blue;
              font-weight: $font-weight-400;
              margin-bottom: 0.5rem;
              font-size: 17px;

              &:hover {
                cursor: pointer;
                color: $Lime-Green;
              }
            }

            p {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}