@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 7rem;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.my-2 {
  margin: 1.5rem 0;
}

.requestInviteButton {
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da);
  color: white;
  padding: 0.8rem 2.5rem;
  border-radius: 100vw;
}

.requestInviteButton:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(49, 211, 92, 0.8)), to(rgba(43, 183, 218, 0.8)));
  background: linear-gradient(90deg, rgba(49, 211, 92, 0.8), rgba(43, 183, 218, 0.8));
}

nav .container {
  background-color: white;
  position: relative;
  z-index: 99;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo,
nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar .navbarList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar .navbarList li {
  padding: 0 1rem;
}

nav .navbar .navbarList li a {
  color: #9698a6;
}

nav .navbar .navbarList li:hover a::after {
  content: "";
  display: block;
  position: relative;
  bottom: -35px;
  width: 100%;
  height: 4px;
  background: #31d35c;
}

nav .hamburgerMenu {
  display: none;
}

.easybankHero {
  background-color: #fafafa;
}

.easybankHero .container {
  height: 80vh;
}

.easybankHero .container .heroContent {
  width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.easybankHero .container .heroContent h1 {
  font-size: 50px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  color: #2d314d;
}

.easybankHero .container .heroContent p {
  margin: 2rem 0;
  color: #9698a6;
}

.easybankHero .container .heroMockups {
  width: 60%;
}

.easybankHero .container .heroMockups .bgIntro {
  width: 1271px;
  height: 1034px;
  -webkit-transform: translate(3%, -25%);
          transform: translate(3%, -25%);
}

.easybankHero .container .heroMockups .mockups {
  position: absolute;
  z-index: 77;
  height: 1034px;
  overflow-x: hidden;
  top: -4%;
  right: 0;
}

.easybankHero .container .heroMockups .mockups img {
  margin-right: -8rem;
}

.whyEasyBank {
  background-color: #f3f4f6;
  position: relative;
  z-index: -70;
  padding: 7rem 0;
}

.whyEasyBank .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.whyEasyBank .container h2 {
  font-size: 40px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  color: #2d314d;
}

.whyEasyBank .container > p {
  margin: 2rem 0;
  color: #9698a6;
  width: 55%;
}

.whyEasyBank .container .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whyEasyBank .container .features .feature img {
  margin-top: 2rem;
}

.whyEasyBank .container .features .feature h4 {
  font-size: 20px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  color: #2d314d;
  margin: 2rem 0;
}

.whyEasyBank .container .features .feature p {
  color: #9698a6;
  width: 90%;
}

.latestArticles {
  background-color: #fafafa;
  padding: 7rem 0;
}

.latestArticles .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.latestArticles .container h2 {
  font-size: 40px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  color: #2d314d;
}

.latestArticles .container .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.latestArticles .container .articles .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 7px;
  width: 23%;
}

.latestArticles .container .articles .article img {
  width: 100%;
  border-radius: 7px 7px 0 0;
  height: 50%;
}

.latestArticles .container .articles .article .articleContent {
  padding: 1.7rem;
}

.latestArticles .container .articles .article .articleContent h6,
.latestArticles .container .articles .article .articleContent p {
  color: #9698a6;
}

.latestArticles .container .articles .article .articleContent h6 {
  margin-bottom: 0.5rem;
}

.latestArticles .container .articles .article .articleContent h4 {
  color: #2d314d;
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.latestArticles .container .articles .article .articleContent h4:hover {
  cursor: pointer;
  color: #31d35c;
}

.latestArticles .container .articles .article .articleContent p {
  font-size: 16px;
}

.footer {
  background-color: #2d314d;
  padding: 4rem 0;
}

.footer .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container .logoSocials .logo {
  margin-bottom: 4rem;
}

.footer .container .logoSocials .socials svg {
  margin-left: 0.5rem;
}

.footer .container .logoSocials .socials svg:hover path {
  fill: #31d35c;
}

.footer .container .footerNavbar .list li,
.footer .container .privacyPolicy .list li {
  padding: 0.5rem 0;
}

.footer .container .footerNavbar .list li a,
.footer .container .privacyPolicy .list li a {
  color: #f3f4f6;
}

.footer .container .footerNavbar .list li a:hover,
.footer .container .privacyPolicy .list li a:hover {
  color: #31d35c;
}

.footer .container .ctaButton {
  text-align: right;
}

.footer .container .ctaButton .requestInviteButton {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.footer .container .ctaButton p {
  color: #9698a6;
}

@media screen and (max-width: 375px) {
  .container {
    padding: 0 1.5rem;
  }
  .my-2 {
    margin: 1rem 0;
  }
  nav .navbar {
    display: none;
  }
  nav .navbar.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    position: fixed;
    background-color: white;
    border-radius: 7px;
    top: 10.5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-shadow: 50px 10px 230px black;
            box-shadow: 50px 10px 230px black;
  }
  nav .navbar.active .navbarList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .navbar.active .navbarList li {
    margin-bottom: 1.5rem;
  }
  nav .navbar.active .navbarList li:first-child {
    margin-top: 1.5rem;
  }
  nav .navbar.active .navbarList li a {
    color: #2d314d;
  }
  nav .hamburgerMenu {
    display: block;
    background: url("./images/icon-hamburger.svg") no-repeat;
    width: 24px;
  }
  nav .hamburgerMenu.active {
    background: url("./images/icon-close.svg") no-repeat;
  }
  nav .ctaButton {
    display: none;
  }
  .easybankHero .container {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .easybankHero .container .heroContent {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
  }
  .easybankHero .container .heroContent h1 {
    font-size: 40px;
  }
  .easybankHero .container .heroContent p {
    font-size: 15px;
  }
  .easybankHero .container .heroMockups {
    width: 100%;
  }
  .easybankHero .container .heroMockups .bgIntro {
    background: url("./images/bg-intro-mobile.svg") no-repeat;
    width: 375px;
    height: 423px;
    -webkit-transform: none;
            transform: none;
    margin: 0 -1.5rem;
  }
  .easybankHero .container .heroMockups .bgIntro img {
    display: none;
  }
  .easybankHero .container .heroMockups .mockups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    height: auto;
    margin-top: -4rem;
    -webkit-transform: none;
            transform: none;
  }
  .easybankHero .container .heroMockups .mockups img {
    width: 100%;
  }
  .whyEasyBank {
    padding: 4rem 0;
  }
  .whyEasyBank .container {
    text-align: center;
  }
  .whyEasyBank .container h2 {
    font-size: 32px;
  }
  .whyEasyBank .container > p {
    font-size: 15px;
    width: 100%;
    line-height: 2;
  }
  .whyEasyBank .container .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .whyEasyBank .container .features .feature h4 {
    font-size: 18px;
    margin: 1.2rem 0;
  }
  .whyEasyBank .container .features .feature p {
    width: 100%;
    font-size: 15px;
    line-height: 2;
  }
  .latestArticles {
    padding: 6rem 0;
  }
  .latestArticles .container h2 {
    font-size: 32px;
    text-align: center;
  }
  .latestArticles .container .articles {
    margin-top: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .latestArticles .container .articles .article {
    width: 100%;
    margin-top: 1.5rem;
  }
  .latestArticles .container .articles .article .articleContent h4 {
    font-size: 17px;
  }
  .latestArticles .container .articles .article .articleContent p {
    font-size: 15px;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer .container .logoSocials .logo {
    margin-bottom: 2rem;
  }
  .footer .container .logoSocials .socials {
    margin-bottom: 2rem;
  }
  .footer .container .logoSocials .socials svg {
    margin-left: 1rem;
  }
  .footer .container .ctaButton {
    text-align: center;
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */