@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

//Font Weight

$font-weight-300:300;
$font-weight-400:400;
$font-weight-700:700;

// Color

$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: hsl(136, 65%, 51%);
$Bright-Cyan: hsl(192, 70%, 51%);

$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

//Reset

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
}

.container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 7rem;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.my-2 {
  margin: 1.5rem 0;
}

.requestInviteButton {
  display: inline-block;
  background: linear-gradient(90deg, $Lime-Green, $Bright-Cyan);
  color: $White;
  padding: 0.8rem 2.5rem;
  border-radius: 100vw;
}

//?Navbar Section
nav {
  .container {
    background-color: $White;
    position: relative;
    z-index: 99;
    justify-content: space-between;
  }

  .logo,
  .navbar {
    display: flex;
    align-items: center;
  }

  .navbar {
    .navbarList {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        padding: 0 1rem;

        a {
          color: $Grayish-Blue;
        }
      }
    }
  }
}

.easybankHero {
  background-color: $Very-Light-Gray;

  .container {
    height: 80vh;

    .heroContent {
      width: 40%;
      align-self: center;

      h1 {
        font-size: 50px;
        font-family: 'Public Sans', sans-serif;
        font-weight: $font-weight-300;
        color: $Dark-Blue;
      }

      p {
        margin: 2rem 0;
        color: $Grayish-Blue;
      }
    }

    .heroMockups {
      width: 60%;

      .bgIntro {
        width: 1271px;
        height: 1034px;
        transform: translate(3%, -25%);
      }

      .mockups {
        width: 1271px;
        height: 1034px;
        transform: translate(16%, -112%);
      }
    }
  }
}

.whyEasyBank {
  background-color: $Light-Grayish-Blue;
  position: relative;
  z-index: -70;
  padding: 7rem 0;

  .container {
    flex-direction: column;

    h2 {
      font-size: 40px;
      font-family: 'Public Sans', sans-serif;
      font-weight: $font-weight-300;
      color: $Dark-Blue;
    }

    >p {
      margin: 2rem 0;
      color: $Grayish-Blue;
      width: 55%;
    }

    .features {
      display: flex;

      .feature {
        img {
          margin-top: 2rem;
        }

        h4 {
          font-size: 20px;
          font-family: 'Public Sans', sans-serif;
          font-weight: $font-weight-300;
          color: $Dark-Blue;
          margin: 2rem 0;
        }

        p {
          color: $Grayish-Blue;
          width: 90%;
        }
      }
    }
  }
}

.latestArticles {
  background-color: $Very-Light-Gray;
  padding: 7rem 0;

  .container {
    flex-direction: column;

    h2 {
      font-size: 40px;
      font-family: 'Public Sans', sans-serif;
      font-weight: $font-weight-300;
      color: $Dark-Blue;
    }

    .articles {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;

      .article {
        display: flex;
        flex-direction: column;
        background-color: $White;
        border-radius: 7px;
        width: 23%;

        img {
          width: 100%;
          border-radius: 7px 7px 0 0;
          height: 50%;
        }

        .articleContent {
          padding: 1.7rem;

          h6,
          p {
            color: $Grayish-Blue;
          }

          h6 {
            margin-bottom: 0.5rem;
          }

          h4 {
            color: $Dark-Blue;
            font-weight: $font-weight-400;
            margin-bottom: 0.5rem;
            font-size: 20px;

            &:hover {
              cursor: pointer;
              color: $Lime-Green;
            }
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.footer {
  background-color: $Dark-Blue;
  padding: 4rem 0;

  .container {
    justify-content: space-between;

    .logoSocials {
      .logo {
        margin-bottom: 4rem;
      }

      .socials {
        svg {
          margin-left: 0.5rem;

          &:hover {
            path {
              fill: $Lime-Green;
            }
          }
        }
      }
    }

    .footerNavbar,
    .privacyPolicy {
      .list {

        li {
          padding: 0.5rem 0;

          a {
            color: $Light-Grayish-Blue;

            &:hover {
              color: $Lime-Green;
            }
          }
        }
      }
    }

    .ctaButton {
      text-align: right;

      .requestInviteButton {
        justify-content: center;
        margin-bottom: 2rem;

        &:hover {
          background: linear-gradient(90deg, $Lime-Green, $Bright-Cyan);
        }
      }

      p {
        color: $Grayish-Blue;
      }
    }
  }
}